.header {
  font-family: Helvetca, sans-serif;
  text-align: center;
}
:root {
  --section-color: white;
}

footer {
  border: 1px solid rgb(255, 255, 255);
}

nav {
  background-color: beige;
  padding-inline: 2rem;
}

nav > ul {
  list-style: none;
  margin: 0;
  background-color: beige;
}

nav > ul > li {
  margin: 0;
}

header {
  margin: none;
  padding: none;
  background-color: beige;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: normal;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.flex-wrapper > div {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;

  & > header {
    grid-area: header;
  }

  & > aside {
    grid-area: aside;
  }

  & > main {
    grid-area: main;
  }

  & > footer {
    grid-area: footer;
  }
}

.header {
  height: 100pt;
}

main {
  overflow-y: scroll;
  text-align: center;
}

section {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  background-color: var(--section-color);
}

section:nth-child(2n) {
  background-color: hsl(from var(--section-color) h s calc(l - 20));
}

.color-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.color-list > li {
  border: 1px dashed rgb(141, 15, 36);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}

.svg-red circle {
  fill: red;
}

.svg-green circle {
  stroke: rgb(39, 101, 39);
  stroke-width: 2;
  fill: none;
}

.Dreieck {
  fill: none;
  stroke: black;
  stroke-width: 1;
}

.Kreis {
  fill: none;
  stroke: black;
  stroke-width: 1;
}

.Quadrat {
  fill: none;
  stroke: black;
  stroke-width: 1;
}
.X {
  stroke: black;
  stroke-width: 1;
}

.aside {
  padding: 0;
  margin: 0;
  background-color: #e2d6c3;
}

.title {
  color: rgb(0, 0, 0);
  font-size: 25pt;
}

/* Ersten muss hat sich auf der Seite die Farebn verändert
aside hat sich verschoben
oben die icon sind nicht auf der gleichen ebene
fragen wie man notizen machen muss
wie man macht was man auf das kreis clicken kann
bild einfügen
Schriftart muss afûf der Seite anders sein
Alle fehler korrigieren
Home muss noch gemacht werden
*/

aside > ul > li > a {
  text-decoration: none;
  color: black;
}

.footer {
  background-color: beige;
  padding: 5px 0;
  font-size: 1.2rem;
  text-align: center;
}

.section img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  margin-top: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Ali-Bild {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  display: block;
}
